.row-header{
    margin: 0px;
    padding: 0px;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}
footer{
    background-color: rgb(212, 168, 216);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    background-color: rgb(159, 103, 210);
}